@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap');

body {
    background:url("images.jpg") fixed no-repeat top center;
    background-size:cover;
    width: 100%;
}

h1 {
    font-family: "Roboto Slab", serif;

}

a {
    font-family: "Roboto Slab", serif;
    background-color: white;
    padding:10px;
    margin:10px;
    border-radius:10px ;
    display:flex;
    color:black;
    font-family:sans-serif
}

